@import "owl.carousel.css";
@import "owl.theme.default.css";


$main_font: 'Inter', sans-serif;
$second_font: 'Readex Pro', sans-serif;
header{
  .container{
    max-width: 1440px;
    margin: auto;
  nav{
    .navbar-toggler-icon{
      background-image: url("../images/header_icon_1.svg");
    }
    ul{
      margin: 0 33px;
      li{
        a{
          font-family: $main_font;
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 17px;
          text-transform: uppercase;
          color: #000000;
        }
      }
    }
  }
  }
}
.main_banner{
  .container{
    max-width: 1294px;
    margin: auto;
    background: #DCE5E2;
    border-radius: 32px;
    h1{
      margin-top: 145px;
      font-family: $second_font;
      font-style: normal;
      font-weight: 400;
      font-size: 58px;
      line-height: 70px;
      color: #000000;
    }
    p{
      font-family: $main_font;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      color: #000000;
    }
    button{
      margin-left: 106px;
      font:$main_font;
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 22px;
      text-transform: capitalize;
      color: #000000;
      border: 1px solid #000000;
      border-radius: 200px;
      padding: 14px 53px;
      background-color: transparent;
    }
    .owl-stage {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
      .owl-nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        bottom: 250px;

        .owl-prev {
          content: "";
          background-image: url("../images/owl-prev.svg");
          display: inline-block;
          background-size: contain;
          width: 14px;
          height: 26px;
          background-repeat: no-repeat;
          margin-left: -10px;
        }

        .owl-next {
          content: "";
          background-image: url("../images/owl-next.svg");
          display: inline-block;
          background-size: contain;
          width: 14px;
          height: 26px;
          background-repeat: no-repeat;
        }
      }
    .owl-dots{
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      bottom: 30px;
      left: 10%;
      width: 70%;
      height: 4px;
      .owl-dot{
        width: 20%;
        color: black;
        height: 4px;
      }
    }
    }

  }
.latest_offers {
  padding-top: 75px;
  padding-bottom: 125px;

  h2 {
    font-family: $second_font;
    font-style: normal;
    font-weight: 400;
    font-size: 42px;
    line-height: 52px;
    text-align: center;
    color: #000000;
    margin-bottom: 9px;
  }

  p {
    font-family: $second_font;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #000000;
  }

  .decritpion {
    span {
      font-family: $main_font;
      font-style: normal;
      font-weight: 400;
      font-size: 15px;
      line-height: 19px;
      color: #000000;
    }

    p {
      font-family: $second_font;
      font-style: normal;
      font-weight: 400;
      font-size: 32px;
      line-height: 38px;
    }
  }
}
.most_selled{
  h3{
    font-family: $second_font;
    font-style: normal;
    font-weight: 400;
    font-size: 42px;
    line-height: 52px;
    color: #000000;
  }
  p{
    font-family: $second_font;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 17px;
    color: #000000;
  }
  h4{
    margin-top: 37px;
    font-family: $second_font;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    color: #000000;
  }
  .items_most{
    p{
      font-family: $main_font;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      color: #4B4B4B;
    }
    h5{
      font-family: $main_font;
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 22px;
      color: #000000;
    }
    .h5_fonts{
      margin-top: 25px;
    }
  }
}
.see_the_best{
  padding-top: 74px;
  margin-bottom: 100px;
  h4{
    font-family: $second_font;
    font-style: normal;
    font-weight: 400;
    font-size: 42px;
    line-height: 52px;
    text-align: center;
    color: #000000;
  }
  p{
    font-family: $second_font;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 52px;
    text-align: center;
    color: #000000;
  }
  .iwatch_3{
    background-color: #F8F9FA;
    border-radius: 16px;
    max-width: 413px;
    h5{
      font-family: $second_font;
      font-style: normal;
      font-weight: 400;
      font-size: 28px;
      line-height: 35px;
      color: #000000;
      margin-bottom: 30px;
    }
    a{
      margin-top: 30px;
    }
    button{
      margin-left: 106px;
      font:$main_font;
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 22px;
      text-transform: capitalize;
      color: #000000;
      border: 1px solid #000000;
      border-radius: 200px;
      padding: 14px 53px;
      background-color: transparent;
      margin-bottom: 30px;
    }
  }
  .devices{
    background-color: #F8F9FA;
    border-radius: 16px;
    h5{
      font-family: $second_font;
      font-style: normal;
      font-weight: 400;
      font-size: 28px;
      line-height: 35px;
      color: #000000;
      margin-bottom: 30px;
    }
    a{
      margin-top: 30px;
    }
    button{
      margin-left: 106px;
      font:$main_font;
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 22px;
      text-transform: capitalize;
      color: #000000;
      border: 1px solid #000000;
      border-radius: 200px;
      padding: 14px 53px;
      background-color: transparent;
      margin-bottom: 30px;
    }
  }
  .macbook_iphone{
    background-color: #F8F9FA;
    border-radius: 16px;
    h5{
      font-family: $second_font;
      font-style: normal;
      font-weight: 400;
      font-size: 28px;
      line-height: 35px;
      color: #000000;
      margin-bottom: 30px;
    }
    a{
      margin-top: 30px;
    }
    button{
      margin-left: 106px;
      font:$main_font;
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 22px;
      text-transform: capitalize;
      color: #000000;
      border: 1px solid #000000;
      border-radius: 200px;
      padding: 14px 53px;
      background-color: transparent;
      margin-bottom: 30px;
    }
  }
}
.ideas {
  margin-bottom: 100px;

  h4 {
    font-family: $second_font;
    font-style: normal;
    font-weight: 400;
    font-size: 42px;
    line-height: 52px;
    color: #000000;
  }

  p {
    font-family: $second_font;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 52px;
    color: #000000;
  }

  ul {
    li {
      list-style: none;
      margin-bottom: 28px;

      p {
        font-family: $main_font;
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 30px;
        color: #000000;
      }
    }
  }
    h5 {
      a {
        font-family: $main_font;
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 29px;
        text-transform: capitalize;
        color: #000000;

        &:after {
          content: "";
          background-image: url("../images/goup.svg");
          display: inline-block;
          background-repeat: no-repeat;
          background-size: contain;
          width: 30px;
          height: 28px;
          position: absolute;
          top: 2px;
        }
      }
    }
}
.looking_for{
  .container{
    max-width: 650px;
    margin: auto;
  }
  h3{
    font-family: $second_font;
    font-style: normal;
    font-weight: 400;
    font-size: 42px;
    line-height: 52px;
    color: #000000;
  }
  .input-group {
    max-width: 650px;
    margin: auto;
    padding: 20px;
    button{
      background-color: #F8F9FA;;
      border-radius: 100px;
      border-right: none;
      position: relative;
      left: 30px;
      z-index: 2;
      padding: 20px;
    }
    input{
      border: 1px solid #C5C5C5;
      border-radius: 100px;
      background-color: #F8F9FA;;
      margin-left: 30px;
      padding: 40px;
    }
  }
  a{
    margin-right: 5px;
    font-family: $main_font;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    background: #FFFFFF;
    border: 1px solid #C5C5C5;
    border-radius: 200px;
    padding: 12px;
    text-align: center;

  }

}
.never_miss {
  margin-top: 100px;

  .never_miss_items {
    background-color: #DCE5E2;
    border-radius: 16px;

    h4 {
      font-family: $second_font;
      font-style: normal;
      font-weight: 400;
      font-size: 42px;
      line-height: 52px;
      text-align: center;
      color: #000000;
      margin-top: 47px;
    }

    p {
      font-family: $main_font;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      text-align: center;
      color: #000000;
    }
    .input-group{
      max-width: 400px;
      margin: auto;
      .form-control{
        box-sizing: border-box;
        background-color: #DCE5E2;
        border: 1px solid #000000;
        border-radius: 54px 0px 0px 54px;
      }
      button{
        background-color: #000000;
        border-radius: 0px 200px 200px 0px;
        color: #FFFFFF;
        }
      }
    }
  }
footer{
  background-color: #F8F9FA;;
  .container{
    max-width: 1440px;
    margin: auto;
    p{
      font-family:$main_font;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      color: #000000;


    }
    ul{
      }
      h5{
        font-family:$second_font;
        font-style: normal;
        font-weight: 400;
        font-size: 22px;
        line-height: 28px;
        color: #000000;
        margin-bottom: 19px;
      }
      li{
        list-style: none;
        margin-bottom: 14px;
        a{
          font-family:$main_font;
          font-style: normal;
          font-weight: 400;
          font-size: 17px;
          line-height: 22px;
          color: #000000;
        }
      }
    }
    .footer_down{
      margin-top: 150px;
      h4{
        font-family:$second_font;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        color: #000000;
      }
      span{
        font-family:$main_font;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        color: #000000;
        margin-left: 3px;
      }
    }
  }
