header .container {
  max-width: 1440px;
  margin: auto; }
  header .container nav .navbar-toggler-icon {
    background-image: url("../images/header_icon_1.svg"); }
  header .container nav ul {
    margin: 0 33px; }
    header .container nav ul li a {
      font-family: 'Inter', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      text-transform: uppercase;
      color: #000000; }

.main_banner .container {
  max-width: 1294px;
  margin: auto;
  background: #DCE5E2;
  border-radius: 32px; }
  .main_banner .container h1 {
    margin-top: 145px;
    font-family: 'Readex Pro', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 58px;
    line-height: 70px;
    color: #000000; }
  .main_banner .container p {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000; }
  .main_banner .container button {
    margin-left: 106px;
    font: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-transform: capitalize;
    color: #000000;
    border: 1px solid #000000;
    border-radius: 200px;
    padding: 14px 53px;
    background-color: transparent; }
  .main_banner .container ol li {
    width: 194px;
    background-color: black;
    margin-right: 34px; }
  .main_banner .container .carousel-control-prev {
    border: none;
    position: absolute;
    left: -200px; }
    .main_banner .container .carousel-control-prev .carousel-control-prev-icon {
      background-image: url("../images/vector_left.svg"); }
  .main_banner .container .carousel-control-next {
    border: none;
    position: absolute;
    right: -96px; }
    .main_banner .container .carousel-control-next .carousel-control-next-icon {
      background-image: url("../images/vector_right.svg"); }

.latest_offers {
  padding-top: 75px;
  padding-bottom: 125px; }
  .latest_offers h2 {
    font-family: 'Readex Pro', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 42px;
    line-height: 52px;
    text-align: center;
    color: #000000;
    margin-bottom: 9px; }
  .latest_offers p {
    font-family: 'Readex Pro', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #000000; }
  .latest_offers .decritpion span {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 19px;
    color: #000000; }
  .latest_offers .decritpion p {
    font-family: 'Readex Pro', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px; }

.most_selled h3 {
  font-family: 'Readex Pro', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 42px;
  line-height: 52px;
  color: #000000; }
.most_selled p {
  font-family: 'Readex Pro', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 17px;
  color: #000000; }
.most_selled h4 {
  margin-top: 37px;
  font-family: 'Readex Pro', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  color: #000000; }
.most_selled .items_most p {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #4B4B4B; }
.most_selled .items_most h5 {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #000000; }
.most_selled .items_most .h5_fonts {
  margin-top: 25px; }

.see_the_best {
  padding-top: 74px;
  margin-bottom: 100px; }
  .see_the_best h4 {
    font-family: 'Readex Pro', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 42px;
    line-height: 52px;
    text-align: center;
    color: #000000; }
  .see_the_best p {
    font-family: 'Readex Pro', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 52px;
    text-align: center;
    color: #000000; }
  .see_the_best .iwatch_3 {
    background-color: #F8F9FA;
    border-radius: 16px;
    max-width: 413px; }
    .see_the_best .iwatch_3 h5 {
      font-family: 'Readex Pro', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 28px;
      line-height: 35px;
      color: #000000;
      margin-bottom: 30px; }
    .see_the_best .iwatch_3 a {
      margin-top: 30px; }
    .see_the_best .iwatch_3 button {
      margin-left: 106px;
      font: 'Inter', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 22px;
      text-transform: capitalize;
      color: #000000;
      border: 1px solid #000000;
      border-radius: 200px;
      padding: 14px 53px;
      background-color: transparent;
      margin-bottom: 30px; }
  .see_the_best .devices {
    background-color: #F8F9FA;
    border-radius: 16px; }
    .see_the_best .devices h5 {
      font-family: 'Readex Pro', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 28px;
      line-height: 35px;
      color: #000000;
      margin-bottom: 30px; }
    .see_the_best .devices a {
      margin-top: 30px; }
    .see_the_best .devices button {
      margin-left: 106px;
      font: 'Inter', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 22px;
      text-transform: capitalize;
      color: #000000;
      border: 1px solid #000000;
      border-radius: 200px;
      padding: 14px 53px;
      background-color: transparent;
      margin-bottom: 30px; }
  .see_the_best .macbook_iphone {
    background-color: #F8F9FA;
    border-radius: 16px; }
    .see_the_best .macbook_iphone h5 {
      font-family: 'Readex Pro', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 28px;
      line-height: 35px;
      color: #000000;
      margin-bottom: 30px; }
    .see_the_best .macbook_iphone a {
      margin-top: 30px; }
    .see_the_best .macbook_iphone button {
      margin-left: 106px;
      font: 'Inter', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 22px;
      text-transform: capitalize;
      color: #000000;
      border: 1px solid #000000;
      border-radius: 200px;
      padding: 14px 53px;
      background-color: transparent;
      margin-bottom: 30px; }

.ideas {
  margin-bottom: 100px; }
  .ideas h4 {
    font-family: 'Readex Pro', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 42px;
    line-height: 52px;
    color: #000000; }
  .ideas p {
    font-family: 'Readex Pro', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 52px;
    color: #000000; }
  .ideas ul li {
    list-style: none;
    margin-bottom: 28px; }
    .ideas ul li p {
      font-family: 'Inter', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 24px;
      line-height: 30px;
      color: #000000; }
  .ideas h5 a {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    text-transform: capitalize;
    color: #000000; }
    .ideas h5 a:after {
      content: "";
      background-image: url("../images/goup.svg");
      display: inline-block;
      background-repeat: no-repeat;
      background-size: contain;
      width: 30px;
      height: 28px;
      position: absolute;
      top: 2px; }

.looking_for h3 {
  font-family: 'Readex Pro', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 42px;
  line-height: 52px;
  color: #000000; }
.looking_for .input-group {
  max-width: 650px;
  margin: auto; }
  .looking_for .input-group button {
    background-color: #F8F9FA;
    border-radius: 100px;
    border-right: none;
    position: relative;
    z-index: 5; }
  .looking_for .input-group input {
    border: 1px solid #C5C5C5;
    border-radius: 100px;
    background-color: #F8F9FA; }
.looking_for a {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  background: #FFFFFF;
  border: 1px solid #C5C5C5;
  border-radius: 200px;
  padding: 12px;
  text-align: center; }

.never_miss {
  margin-top: 100px; }
  .never_miss .never_miss_items {
    background-color: #DCE5E2;
    border-radius: 16px; }
    .never_miss .never_miss_items h4 {
      font-family: 'Readex Pro', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 42px;
      line-height: 52px;
      text-align: center;
      color: #000000;
      margin-top: 47px; }
    .never_miss .never_miss_items p {
      font-family: 'Inter', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      text-align: center;
      color: #000000; }
    .never_miss .never_miss_items .input-group {
      max-width: 400px;
      margin: auto;
      border: 1px solid #000000;
      border-radius: 54px 0px 0px 54px; }
      .never_miss .never_miss_items .input-group::placeholder {
        border: 1px solid #000000;
        border-radius: 54px 0px 0px 54px; }
