@import url(owl.carousel.css);
@import url(owl.theme.default.css);
header .container {
  max-width: 1440px;
  margin: auto; }
  header .container nav .navbar-toggler-icon {
    background-image: url("../images/header_icon_1.svg"); }
  header .container nav ul {
    margin: 0 33px; }
    header .container nav ul li {
      margin: 0 10px; }
      header .container nav ul li a {
        font-family: 'Inter', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        text-transform: uppercase;
        color: #000000;
        transition: 0.5s; }
        header .container nav ul li a:hover {
          color: red;
          transform: scale(1.1); }

.main_banner .container {
  max-width: 1294px;
  margin: auto;
  background: #DCE5E2;
  border-radius: 32px; }
  .main_banner .container h1 {
    margin-top: 145px;
    font-family: 'Readex Pro', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 58px;
    line-height: 70px;
    color: #000000; }
  .main_banner .container p {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000; }
  .main_banner .container button {
    margin-left: 106px;
    font: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-transform: capitalize;
    color: #000000;
    border: 1px solid #000000;
    border-radius: 200px;
    padding: 14px 53px;
    background-color: transparent; }
  .main_banner .container .owl-stage {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .main_banner .container .owl-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    bottom: 250px; }
@media only screen and (max-width: 429px) {
  .main_banner .container .owl-nav {
    display: none; } }
    .main_banner .container .owl-nav .owl-prev {
      content: "";
      background-image: url("../images/owl-prev.svg");
      display: inline-block;
      background-size: contain;
      width: 14px;
      height: 26px;
      background-repeat: no-repeat;
      margin-left: -10px; }
    .main_banner .container .owl-nav .owl-next {
      content: "";
      background-image: url("../images/owl-next.svg");
      display: inline-block;
      background-size: contain;
      width: 14px;
      height: 26px;
      background-repeat: no-repeat; }
  .main_banner .container .owl-dots {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 30px;
    left: 10%;
    width: 70%;
    height: 4px; }
@media only screen and (max-width: 429px) {
  .main_banner .container .owl-dots {
    display: none; } }
    .main_banner .container .owl-dots .owl-dot {
      width: 20%;
      color: black;
      height: 4px; }

.latest_offers {
  padding-top: 75px;
  padding-bottom: 125px; }
  .latest_offers h2 {
    font-family: 'Readex Pro', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 42px;
    line-height: 52px;
    text-align: center;
    color: #000000;
    margin-bottom: 9px; }
  .latest_offers p {
    font-family: 'Readex Pro', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #000000; }
  .latest_offers .decritpion span {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 19px;
    color: #000000; }
  .latest_offers .decritpion p {
    font-family: 'Readex Pro', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px; }
  .latest_offers .decritpion .macbook {
    transition: 0.5s; }
    .latest_offers .decritpion .macbook:hover {
      transform: scale(1.1); }
  .latest_offers .decritpion .iwatch {
    transition: 0.5s; }
    .latest_offers .decritpion .iwatch:hover {
      transform: scale(1.1); }
  .latest_offers .decritpion .phone {
    transition: 0.5s; }
  @media only screen and (max-width: 429px) {
    .latest_offers .decritpion .phone {
      margin-top: 30px; } }
    .latest_offers .decritpion .phone:hover {
      transform: scale(1.1); }
  .latest_offers .decritpion .ipad {
    transition: 0.5s; }
  @media only screen and (max-width: 429px) {
    .latest_offers .decritpion .ipad {
      margin-top: 60px; } }
    .latest_offers .decritpion .ipad:hover {
      transform: scale(1.1); }

.most_selled h3 {
  font-family: 'Readex Pro', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 42px;
  line-height: 52px;
  color: #000000; }
.most_selled p {
  font-family: 'Readex Pro', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 17px;
  color: #000000; }
.most_selled h4 {
  margin-top: 37px;
  font-family: 'Readex Pro', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  color: #000000; }
.most_selled .items_most a:hover img {
  transform: scale(1.2);
  transition: 1.5s; }
.most_selled .items_most p {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #4B4B4B; }
.most_selled .items_most h5 {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #000000; }
.most_selled .items_most .h5_fonts {
  margin-top: 25px; }

.see_the_best {
  padding-top: 74px;
  margin-bottom: 100px; }
  .see_the_best h4 {
    font-family: 'Readex Pro', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 42px;
    line-height: 52px;
    text-align: center;
    color: #000000; }
  .see_the_best p {
    font-family: 'Readex Pro', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 52px;
    text-align: center;
    color: #000000; }
  .see_the_best .iwatch_3 {
    background-color: #F8F9FA;
    border-radius: 16px;
    max-width: 413px;
    transition: 0.8s; }
    .see_the_best .iwatch_3:hover {
      transform: scale(1.1); }
    .see_the_best .iwatch_3 h5 {
      font-family: 'Readex Pro', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 28px;
      line-height: 35px;
      color: #000000;
      margin-bottom: 30px; }
    .see_the_best .iwatch_3 a {
      margin-top: 30px; }
    .see_the_best .iwatch_3 button {
      margin-left: 106px;
      font: 'Inter', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 22px;
      text-transform: capitalize;
      color: #000000;
      border: 1px solid #000000;
      border-radius: 200px;
      padding: 14px 53px;
      background-color: transparent;
      margin-bottom: 30px; }
  .see_the_best .devices {
    background-color: #F8F9FA;
    border-radius: 16px;
    transition: 0.8s; }
    .see_the_best .devices:hover {
      transform: scale(1.1); }
    .see_the_best .devices h5 {
      font-family: 'Readex Pro', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 28px;
      line-height: 35px;
      color: #000000;
      margin-bottom: 30px; }
    .see_the_best .devices a {
      margin-top: 30px; }
    .see_the_best .devices button {
      margin-left: 106px;
      font: 'Inter', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 22px;
      text-transform: capitalize;
      color: #000000;
      border: 1px solid #000000;
      border-radius: 200px;
      padding: 14px 53px;
      background-color: transparent;
      margin-bottom: 30px; }
  .see_the_best .macbook_iphone {
    background-color: #F8F9FA;
    border-radius: 16px;
    transition: 0.8s; }
    .see_the_best .macbook_iphone:hover {
      transform: scale(1.1); }
    .see_the_best .macbook_iphone h5 {
      font-family: 'Readex Pro', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 28px;
      line-height: 35px;
      color: #000000;
      margin-bottom: 30px; }
    .see_the_best .macbook_iphone a {
      margin-top: 30px; }
    .see_the_best .macbook_iphone button {
      margin-left: 106px;
      font: 'Inter', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 22px;
      text-transform: capitalize;
      color: #000000;
      border: 1px solid #000000;
      border-radius: 200px;
      padding: 14px 53px;
      background-color: transparent;
      margin-bottom: 30px; }

.ideas {
  margin-bottom: 100px; }
  .ideas h4 {
    font-family: 'Readex Pro', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 42px;
    line-height: 52px;
    color: #000000; }
  .ideas p {
    font-family: 'Readex Pro', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 52px;
    color: #000000; }
  .ideas ul li {
    list-style: none;
    margin-bottom: 28px; }
    .ideas ul li p {
      font-family: 'Inter', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 24px;
      line-height: 30px;
      color: #000000; }
  .ideas h5 a {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    text-transform: capitalize;
    color: #000000; }
    .ideas h5 a:after {
      content: "";
      background-image: url("../images/goup.svg");
      display: inline-block;
      background-repeat: no-repeat;
      background-size: contain;
      width: 30px;
      height: 28px;
      position: absolute;
      top: 2px; }

.looking_for .container {
  max-width: 650px;
  margin: auto; }
.looking_for h3 {
  font-family: 'Readex Pro', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 42px;
  line-height: 52px;
  color: #000000; }
.looking_for .input-group {
  max-width: 650px;
  margin: auto;
  padding: 20px; }
  .looking_for .input-group button {
    background-color: #F8F9FA;
    border-radius: 100px;
    border-right: none;
    position: relative;
    left: 30px;
    z-index: 2;
    padding: 20px; }
  .looking_for .input-group input {
    border: 1px solid #C5C5C5;
    border-radius: 100px;
    background-color: #F8F9FA;
    margin-left: 30px;
    padding: 40px; }
.looking_for a {
  margin-right: 5px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  background: #FFFFFF;
  border: 1px solid #C5C5C5;
  border-radius: 200px;
  padding: 12px;
  text-align: center;
  transition: 0.6s; }
  .looking_for a:hover {
    transform: scale(1.1); }

.never_miss {
  margin-top: 100px; }
  .never_miss .never_miss_items {
    background-color: #DCE5E2;
    border-radius: 16px; }
    .never_miss .never_miss_items h4 {
      font-family: 'Readex Pro', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 42px;
      line-height: 52px;
      text-align: center;
      color: #000000;
      margin-top: 47px; }
    .never_miss .never_miss_items p {
      font-family: 'Inter', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      text-align: center;
      color: #000000; }
    .never_miss .never_miss_items .input-group {
      max-width: 400px;
      margin: auto; }
      .never_miss .never_miss_items .input-group .form-control {
        box-sizing: border-box;
        background-color: #DCE5E2;
        border: 1px solid #000000;
        border-radius: 54px 0px 0px 54px; }
      .never_miss .never_miss_items .input-group button {
        background-color: #000000;
        border-radius: 0px 200px 200px 0px;
        color: #FFFFFF; }

footer {
  background-color: #F8F9FA; }
  footer .container {
    max-width: 1440px;
    margin: auto; }
    footer .container p {
      font-family: 'Inter', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      color: #000000; }
  @media only screen and (max-width: 429px) {
    footer .container p {
      font-size: 16px;
      text-align: left; } }
  footer ul h5 {
    font-family: 'Readex Pro', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    color: #000000;
    margin-bottom: 19px; }
  @media only screen and (max-width: 429px) {
    footer ul h5 {
      font-size: 12px; } }
  footer ul li {
    list-style: none;
    margin-bottom: 14px; }
  @media only screen and (max-width: 429px) {
    footer ul li {
      margin-right: 30px; } }
    footer ul li a {
      font-family: 'Inter', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 17px;
      line-height: 22px;
      color: #000000; }
  @media only screen and (max-width: 429px) {
    footer ul li a {
      font-size: 12px; } }
  footer .footer_down {
    margin-top: 150px; }
    footer .footer_down h4 {
      font-family: 'Readex Pro', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 22px;
      color: #000000; }
    footer .footer_down span {
      font-family: 'Inter', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 22px;
      color: #000000;
      margin-left: 3px; }
