$main_font: 'Inter', sans-serif;
$second_font: 'Readex Pro', sans-serif;
header{
  .container{
    max-width: 1440px;
    margin: auto;
  nav{
    ul{
      margin: 0 33px;
      li{
        a{
          font-family: $main_font;
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 17px;
          text-transform: uppercase;
          color: #000000;
        }
      }
    }
  }
  }
}
.main_banner{
  .container{
    max-width: 1294px;
    margin: auto;
    background: #DCE5E2;
    border-radius: 32px;
    h1{
      margin-top: 145px;
      font-family: $second_font;
      font-style: normal;
      font-weight: 400;
      font-size: 58px;
      line-height: 70px;
      color: #000000;
    }
    p{
      font-family: $main_font;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      color: #000000;
    }
    button{
      margin-left: 106px;
      font:$main_font;
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 22px;
      text-transform: capitalize;
      color: #000000;
      border: 1px solid #000000;
      border-radius: 200px;
      padding: 14px 53px;
      background-color: transparent;
    }
    ol{
      li{
        width: 194px;
        background-color: black;
        margin-right: 34px;
      }
    }
    .carousel-control-prev{
      border: none;
      position: absolute;
      left: -200px;
      .carousel-control-prev-icon{
      background-image: url("../images/vector_left.svg");
      }
    }
    .carousel-control-next{
      border: none;
      position: absolute;
      right: -96px;
      .carousel-control-next-icon{
        background-image: url("../images/vector_right.svg");
      }
    }
  }
}
.latest_offers {
  padding-top: 75px;
  padding-bottom: 125px;

  h2 {
    font-family: $second_font;
    font-style: normal;
    font-weight: 400;
    font-size: 42px;
    line-height: 52px;
    text-align: center;
    color: #000000;
    margin-bottom: 9px;
  }

  p {
    font-family: $second_font;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #000000;
  }

  .decritpion {
    span {
      font-family: $main_font;
      font-style: normal;
      font-weight: 400;
      font-size: 15px;
      line-height: 19px;
      color: #000000;
    }

    p {
      font-family: $second_font;
      font-style: normal;
      font-weight: 400;
      font-size: 32px;
      line-height: 38px;
    }
  }
}
.most_selled{
  h3{
    font-family: $second_font;
    font-style: normal;
    font-weight: 400;
    font-size: 42px;
    line-height: 52px;
    color: #000000;
  }
  p{
    font-family: $second_font;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 17px;
    color: #000000;
  }
  h4{
    margin-top: 37px;
    font-family: $second_font;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    color: #000000;
  }
  .items_most{
    p{
      font-family: $main_font;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      color: #4B4B4B;
    }
    h5{
      font-family: $main_font;
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 22px;
      color: #000000;
    }
    .h5_fonts{
      margin-top: 25px;
    }
  }
}
.see_the_best{
  padding-top: 74px;
  margin-bottom: 100px;
  h4{
    font-family: $second_font;
    font-style: normal;
    font-weight: 400;
    font-size: 42px;
    line-height: 52px;
    text-align: center;
    color: #000000;
  }
  p{
    font-family: $second_font;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 52px;
    text-align: center;
    color: #000000;
  }
  .iwatch_3{
    background-color: #F8F9FA;
    border-radius: 16px;
    max-width: 413px;
    h5{
      font-family: $second_font;
      font-style: normal;
      font-weight: 400;
      font-size: 28px;
      line-height: 35px;
      color: #000000;
      margin-bottom: 30px;
    }
    a{
      margin-top: 30px;
    }
    button{
      margin-left: 106px;
      font:$main_font;
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 22px;
      text-transform: capitalize;
      color: #000000;
      border: 1px solid #000000;
      border-radius: 200px;
      padding: 14px 53px;
      background-color: transparent;
      margin-bottom: 30px;
    }
  }
  .devices{
    background-color: #F8F9FA;
    border-radius: 16px;
    h5{
      font-family: $second_font;
      font-style: normal;
      font-weight: 400;
      font-size: 28px;
      line-height: 35px;
      color: #000000;
      margin-bottom: 30px;
    }
    a{
      margin-top: 30px;
    }
    button{
      margin-left: 106px;
      font:$main_font;
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 22px;
      text-transform: capitalize;
      color: #000000;
      border: 1px solid #000000;
      border-radius: 200px;
      padding: 14px 53px;
      background-color: transparent;
      margin-bottom: 30px;
    }
  }
  .macbook_iphone{
    background-color: #F8F9FA;
    border-radius: 16px;
    h5{
      font-family: $second_font;
      font-style: normal;
      font-weight: 400;
      font-size: 28px;
      line-height: 35px;
      color: #000000;
      margin-bottom: 30px;
    }
    a{
      margin-top: 30px;
    }
    button{
      margin-left: 106px;
      font:$main_font;
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 22px;
      text-transform: capitalize;
      color: #000000;
      border: 1px solid #000000;
      border-radius: 200px;
      padding: 14px 53px;
      background-color: transparent;
      margin-bottom: 30px;
    }
  }
}
.ideas {
  margin-bottom: 100px;

  h4 {
    font-family: $second_font;
    font-style: normal;
    font-weight: 400;
    font-size: 42px;
    line-height: 52px;
    color: #000000;
  }

  p {
    font-family: $second_font;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 52px;
    color: #000000;
  }

  ul {
    li {
      list-style: none;
      margin-bottom: 28px;

      p {
        font-family: $main_font;
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 30px;
        color: #000000;
      }
    }
  }
  h5{
    font-family: $main_font;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    text-transform: capitalize;
    color: #000000;
    &:before{
      background-image: url("../images/goup.svg");
      display: inline-block;
      background-repeat: no-repeat;
      background-size: contain;
      width: 30px;
      height: 28px;
    }
  }
}
